<%= render partial: "layouts/partials/home_header" %>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>

<div id="main" class="main mbig">
	<div class="scroll" id="home" >
		<div id = "home-wrap">
			<%= image_tag "home/hero_image.jpg" %>
			<div id="app-form">
				<form id="subscribe">
					<h4>Want the app?</h4>
					<div id="name">
						<input class="input input-field" type="text" name="name" placeholder="Your Name"/>
					</div>
					<div id="email">
						<input class="input input-field" type="text" name="email" placeholder="Your Email" />
					</div>
					<input id="submit" class="input" type="submit" value="Let me know when it's ready" />
				</form>
			</div>
		</div>	
	</div>
	<div class="scroll" id="mission">
		<div id="mission-wrap">
			<%= image_tag "home/paper.png", id: "paper-bg" %>
  			<table id="mission-main-table">
				<tr>
					<td>
						<h1>Our Mission</h1>
					</td>
					<td>
						<h3>
							At DejaLearn, we strive to maximize the overall learning potential by changing the way the modern student learns,one packet at a time. Our strategy aims to reduce anxiety, improve test scores, and foster a learning evironment that is conducive to long term retention of information learned in the classroom.
						</h3>
					</td>
				</tr>
			</table>
			<table id="mission-table">
	  			<tr>
	  				<td class="image">
	  					<%= image_tag "home/model/home_model.png", id: "home_model"%>
	  				</td>
	  				<td id="problem-text">
	  					<%= image_tag "home/notepad_left.png", class: "text-bg" %>
	  					<div class="text left">
	  						<h2>The Problem</h2>
	  						<h4>Memorization is a very dry process, and many prefer to put it off until the very last moment. Often times we find ourselves scrabbling to cram information in a short span of time.</h4>
	  					</div>
	  				</td>
	  				<td id="solution-text">
	  					<%= image_tag "home/notepad_right.png", class: "text-bg" %>
	  					<div class="text right">
	  						<h2>The Solution</h2>
	  						<h4>Dejalearn...with a schedule which adapts to your needs memorization becomes a breeze, and repetition ceases to be dry, a couple seconds is all it takes to answer a question.</h4>
	  					</div>
	  				</td>
	  				<td class="image">
	  					<%= image_tag "home/model/quiz_model.png", id: "quiz_model" %>
	  				</td>
	  			</tr>
	  		</table>
  		</div>
	</div>
	<div class="scroll" id="packet">
		<div id="packet-wrap">
			<table id="packet-table-outer">
				<tr>
					<td>
						<table id="packet-table-inner">
							<tr>
								<td>

								</td>
								<td>
									<h2>What is packet creation</h2>
								</td>
							</tr>
							<tr>
								<td>

								</td>
								<td>
									<h2>Make money</h2>

								</td>
							</tr>
							<tr>
								<td>

								</td>
								<td>
									<h2>Create a packet</h2>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<%= image_tag "home/model/select_model.png", id: "select-model" %>
						<%= image_tag "home/model/exercise_model.png", id: "exercise-model" %>
						<%= image_tag "home/model/add_packet_model.png", id: "add-model" %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="scroll" id="about">
		<h2>About</h2>
	</div>
</div>