<%= render partial: "layouts/partials/home_header" %>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>

<div id="main" class="main mbig">
	<div class="scroll" id="home" >
		<div id = "home-wrap">
			<%= image_tag "home/hero_image.jpg" %>
			<div id="app-form">
				<form id="subscribe">
					<h4>Want the app?</h4>
					<div id="name">
						<input class="input input-field" type="text" name="name" placeholder="Your Name"/>
					</div>
					<div id="email">
						<input class="input input-field" type="text" name="email" placeholder="Your Email" />
					</div>
					<input id="submit" class="input" type="submit" value="Let me know when it's ready" />
				</form>
			</div>
		</div>	
	</div>
	<div class="scroll" id="mission">
		<div id="mission-wrap">
  			<table>
				<tr>
					<td>
						<h1>Our Mission</h1>
					</td>
					<td>
						<p>
							At DejaLearn, we strive to maximize the overall learning potential by changing the way the modern student learns,one packet at a time. Our strategy aims to reduce anxiety, improve test scores, and foster a learning evironment that is conducive to long term retention of information learned in the classroom.
						</p>
					</td>
				</tr>
			</table>
			<table id="mission-table">
	  			<tr>
	  				<td>
	  					<%= image_tag "home/model/home_model.png", id: "home_model"%>
	  				</td>
	  				<td>
	  					<h1>Problem</h1>
	  					<h3>Memorization is a very dry process, and many prefer to put it off until the very last moment. Often times we find ourselves scrabbling to cram information in a short span of time.</h3>
	  				</td>
	  				<td>
	  					<h1>Solution</h1>
	  					<h3>Dejalearn...with a schedule which adapts to your needs you will grasp even the most difficult concepts, and repetition ceases to be dr, a couple seconds is all it takes to answer a question.</h3>
	  				</td>
	  				<td>
	  					<%= image_tag "home/model/quiz_model.png", id: "quiz_model" %>
	  				</td>
	  			</tr>
	  		</table>
  		</div>
	</div>
	<div class="scroll" id="packet">
		<h2>Packet</h2>
	</div>
	<div class="scroll" id="about">
		<h2>About</h2>
	</div>
</div>