<%= render partial: "layouts/partials/home_header" %>
<%= stylesheet_link_tag "home" %>
<%= javascript_include_tag "home" %>

<div id="main" class="main mbig">
	<div class="section" id="home" >
		<div id = "home-wrap">
			<%= image_tag "home/hero_image.jpg" %>
			<div id="app-form">
				<%= form_tag({:action => 'email'}, :multipart => true, id: "subscribe") do %>
					<h4>Want the app?</h4>
					<div id="name">
						<input class="input input-field" type="text" name="name" placeholder="Your Name" />
					</div>
					<div id="email">
						<input class="input input-field" type="text" name="email" placeholder="Your Email" />
					</div>
					<%= submit_tag("Let me know when it's ready", id: "submit", class: "btn btn-primary input") %>
				<% end %>
			</div>
		</div>	
	</div>
	<div class="section" id="mission">
		<div id="mission-wrap">
			<div id="mission-top">
				<p class="mission-title">Our Misson</p>
				<p class="mission-content">
					At DejaLearn, we strive to maximize the overall learning potential by changing the way the modern student learns,one packet at a time. Our strategy aims to reduce anxiety, improve test scores, and foster a learning evironment that is conducive to long term retention of information learned in the classroom.
				</p>
			</div>
			<table id="mission-table">
	  			<tr>
	  				<td class="image">
	  					<%= image_tag "home/model/home_model.png", id: "home_model"%>
	  				</td>
	  				<td id="problem-text" class="text">
	  					<%= image_tag "home/note-left.png", class: "text" %>
	  				</td>
	  				<td id="solution-text">
	  					<%= image_tag "home/note-right.png", class: "text" %>
	  				</td>
	  				<td class="image">
	  					<%= image_tag "home/model/quiz_model.png", id: "quiz_model" %>
	  				</td>
	  			</tr>
	  		</table>
  		</div>
	</div>
	<div class="section" id="packet">
		<div id="packet-wrap">
			<table id="packet-table-outer">
				<tr>
					<td>
						<div id="flipbook">
							<div class="hard">
							</div>
							<div class="front hard" >
								<%= image_tag "home/model/select_model.png", id: "select-model", class: "model" %>
							</div>
							<div class="inner-page">
								<div class="page-div">
									<h4>What is packet creation?</h4>
									<h5>
										Packet creation is the ability for you to create your own study material.
									</h5>
								</div>
							</div>
							<div class="inner-page"> <%= image_tag "home/model/exercise_model.png", id: "exercise-model", class: "model" %></div>
							<div class="inner-page">
								<div class="page-div">
									<h4>Make Money</h4>
									<h5>
										We have created a marketplace for you to publish and sell your packets.
									</h5>
								</div>
							</div>
							<div class="inner-page"> <%= image_tag "home/model/add_packet_model.png", id: "add-model", class: "model" %> </div>
							<div class="hard">
								<div class="page-div">

									<%= link_to image_tag("home/design/compose.png"), dashboard_create_path, target: "_blank" %>
									<h4>Create a packet</h4>
								</div>
							</div>

						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section" id="about">
		<div id="about-wrap">
			<div id="about-top">
				<div id="our-story" class="about-div">
					<%= image_tag("home/compass.png", id: "story-img") %>
				</div>
				<div id="contact-us" class="about-div">
					<%= image_tag("home/contact.png", id:"contact-img") %>
				</div>
			</div>
			<div id="about-bottom">
				<div id="story-info">
					<h2 id ="about-us">About Us</h2> 
	<p id="Story">Dejalearn started off as an idea during the college years of its founders. The whole idea of it was to making their lives easier studying for the ridiculous amount of tests that you have in college. From that it grew into a way to help everyone, not just to study but to learn anything that people wanted, whether it be art, music or chemistry. After working for more than a year, the idea has ccome to life for everyone to enjoy.</p>
				</div>
				<div id="contact-info">
					<form id="Contact">
						<h3 id="title"> Talk to Us! </h3>
												Name:<input id="name" type ="text" name="name"><br>
                                                Email Address:<input id="email" type="text" name="email"><br>
                                                Content:<input id="content" type="text" name="Content"><br>
												<input id="submit" class="input" type="submit" value="Send" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



