<%= render partial: "layouts/partials/dashboard_header" %>

<%= stylesheet_link_tag "dashboard.css" %>
<%= javascript_include_tag "dashboard.js" %>

<div id="top-banner">
	<!--<%= image_tag "dashboard/logo.png", id: "logo" %>-->
</div>
<div id="horizontal-bar"></div>

<table id="main-table">
	<tr>
    <td id="types">
      <div class="navbar-fixed-top" >
        <div class="row-fluid">
          <div class="sidebar-nav-fixed" >
            <div class="well">
              <ul class="nav nav-list">
                <li class="type">
                  <%= button_tag image_tag("dashboard/mc.png"), onclick: "createQuestion('MC')" %>
                </li>
                <li class="type">
                  <%= button_tag image_tag("dashboard/imc.png"), onclick: "createQuestion('IMC')" %>
                </li>
              </ul>      
            </div>
          </div>
        </div>
      </div>
    </td>
		<td id="questions">
			<%= form_tag({:action => 'submit_packet'}, :multipart => true, id: "fileupload") do %>
				<div class="packet-info">
					<%= text_field_tag("title", nil, placeholder: "Name your packet", class: "field", onkeyup: "fullVerify()") %>
					<br />
					<%= text_area_tag("desc", nil, placeholder: "Packet description (optional)") %>
				</div>
        <%= hidden_field_tag "count", value: 0 %>

				<div id="question-form">
				</div>

        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>

				<div class="packet-info">
					<%= text_field_tag("tags", nil, placeholder: "Tags", class: "field", onkeyup: "fullVerify()") %>
				</div>
				<div id="submit-div">
					<%= submit_tag("Submit Packet", id: "submit", class: "btn btn-primary", onclick: "setCount()") %>
				</div>
			<% end %>
		</td>
		<td id="vertical-bar">
		</td>
		<td id="options">
      <div id="option-list">
        <ul>
        </ul>
      </div>
		</td>
	</tr>
</table>


<table id="csv-table">
  <tr>
    <td>
    <!--  <h2> Upload a CSV File </h2>
      <%= file_field_tag "csv" %>-->
    </td>
  </tr>
</table>

</div>
