<%= stylesheet_link_tag "dashboard/create_packet" %>
<%= stylesheet_link_tag "dashboard/questions/mc_layout" %>
<%= stylesheet_link_tag "dashboard/questions/imc_layout" %>
<%= stylesheet_link_tag "dashboard/questions/fib_layout" %>

<%= javascript_include_tag "dashboard/verify_packet" %>
<%= javascript_include_tag "dashboard/create_packet" %>
<%= javascript_include_tag "dashboard/questions/mc" %>
<%= javascript_include_tag "dashboard/questions/imc" %>

<div id="top-banner">
	<%= image_tag "dashboard/logo.png", id: "logo" %>
</div>
<div id="horizontal-bar"></div>

<table id="main-table">
	<tr>
		<td id="questions">
			<%= form_tag({:action => 'submit_packet'}, :multipart => true, id: "fileupload") do %>
				<div class="packet-info">
					<%= text_field_tag("title", nil, placeholder: "Name your packet", onkeyup: "verifyTitle()") %>
					<br />
					<%= text_area_tag("desc", nil, placeholder: "Packet description (optional)") %>
				</div>
				
				<div id="question-form">
				</div>
        
        <div id="fileupload-loading">
<!--          <input type="file" id="drop" name="upload" >
            <div>
              Add here
            </div>
          </input>-->
        </div>
        <br>

        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
        </table>

				<div class="packet-info">
					<%= text_field_tag("tags", nil, placeholder: "Tags") %>
				</div>
				<div id="submit-div">
					<%= submit_tag("Submit Packet", id: "submit", class: "btn btn-primary") %>
				</div>
			<% end %>

			<div id="question-type">
				<%= select_tag("type", options_for_select(["Add Question", "Multiple Choice", "Image Multiple Choice", "Fill in the Blank"]), onchange: "createQuestion()") %>
			</div>

		</td>
		<td id="vertical-bar">
		</td>
		<td id="options">
			options
		</td>
	</tr>
</table>

</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
      $('#drop').fileupload({
        singleFileUploads: false,
        dataType: 'json',
        dropZone: $('#drop'),
        add: function (e, data) {
            console.log(data)
            console.log(data.value);
            console.log("IN ADD");
          /*  data.context = $('#submit').click(function () {
              data.submit();
              return true;
            })
            /*data.context = $('<button/>').text('Upload')
                .appendTo(document.body)
                .click(function () {
                    data.context = $('#submit')//$('<p/>').text('Uploading...').replaceAll($(this));
                    data.submit();
                });*/
            $("<img>").attr("src", data.files[0].path).appendTo('#drop');
            //$.each(data.result.files, function (index, file) {
            //    $('<p/>').text(file.name).appendTo(document.body);
            //});
        },
        done: function (e, data) {
          console.log("IN DONE");
        },
        submit: function( e, data) {
          console.log("IN SUBMIT");
        }
      });
  });
  $(document).bind('drop dragover', function (e) {
    e.preventDefault();
  });

</script>