<header id="dash-header" class="navbar navbar-fixed-top navbar-inverse home-header">
     <div id="dash-div">
          <ul id="menu" class="nav nav-list">
              <li>
                <div class="home">
                  <%= image_tag("global/logo-no-word-white.png") %>
                </div>
              </li>
              <li data-menuanchor="#1" class="active">
                  <div class="home">
                    <h3><strong><%= link_to "Home", "#1" %></strong></h3>
                  </div>
              </li>
              <li data-menuanchor="#4">
                  <div  class="text">
                    <h4><strong><%= link_to "About Us", "#4" %></strong></h4>
                  </div>
              </li>
              <li data-menuanchor="#3">
                  <div  class="text">
                    <h4><strong><%= link_to "Packet Creation", "#3" %></stong></h4>
                  </div>
              </li>
              <li data-menuanchor="#2">
                <div class="text">
                  <h4><strong><%= link_to "Mission", "#2" %></strong></h4>
                </div>
              </li>
              <li>
                <div class="text">
                  <h3><strong><%= link_to "Create", dashboard_create_path, "data-no-turbolink" => true %><strong></h3>
                </div>
              </li>
          </ul>
     </div>
</header>